body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF; /* Fondo blanco */
    color: #000000; /* Texto negro */
    margin: 0;
    padding: 0;
}
header {                 /*parte superior de las paginas*/
    background-color: hsl(210, 100%, 20%); /* Azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #2b85b3; /* Azul claro */
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}
nav a:hover {
    background-color: #FF6600; /* Naranja brillante */
}
.main-content { /*parte de los productos de inicio*/
    padding: 20px;
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-card {
    background-color: #D3D3D3; /* Gris claro */
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    text-align: center;
}
.product-card img {
    width: 100%;
    border-radius: 8px;
}
.product-card h3 {
    color: #003366; /* Azul oscuro */
}
.product-card p {
    color: #666666; /* Gris oscuro */
}

footer {   /*pie de la pagina*/
    background-color: #003366; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 20px;  /*espacio entre el pie y el contenido*/
    margin-top: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.super-offers, .featured-offer {  /*featured esta a la derecha y las super-offers a la izquierda*/
    width: 45%;
    background: linear-gradient(hsl(210, 100%, 20%),hsl(219, 53%, 41%));
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.offers-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.offer-card, .featured-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.offer-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}
.featured-card img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}
.offer-item {
    background-color: white;
    border: 1px solid #ddd;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
}
.offer-item img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.offer-item img:hover {
    transform: scale(1.1);
}
.charls { /*boton interlineado*/
    background-color: #FF4500;
    padding: 14px 40px;
    color: #fff;
    text-transform: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #FF4500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .charls span:last-child {
    display: none;
   }
   
   .charls:hover {
    transition: .4s;
    border: 2px dashed #FF4500;
    background-color: #fff;
    color: #FF4500;
   }
   
   .charls:active {
    background-color: #ff6a34;
   }


  .chxpay {   /*imagen del boton de pago*/
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 65px; /* Puedes ajustar la distancia desde la parte superior */
    right: 0; /* Lo coloca en el borde izquierdo de la pantalla */
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .chxpay p {  /*texto del boton de pago*/
    color: #ffffff;
    font-size: 11px;
  }
  .chxpay:hover p {
  text-decoration: underline;
  }
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: none;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {   /*botones para comprar-iluminados*/
    background: #FF4500;
    box-shadow: 0 0 25px #FF4500;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px #FF4500,
                0 0 25px #FF4500,
                0 0 50px #FF4500,
                0 0 100px #FF4500;
  }
  .form-section {  /*seccion del formulario*/
    background-color: #3a8ccf;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 65%;
  }
  
  .form-section label { /*label: texto de entrada*/
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-section input,  
  .form-section textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Mejorar legibilidad con mayor tamaño */
    color: #333;
  }
  .form-section input:focus,.form-section textarea:focus {
    border-color: #3a8ccf; /* Cambiar color al hacer foco */
    outline: none;
  }
  .form-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .form-section button {
    display: block;
    width: calc(100% - 20px);
    font-size: 16px;
  }
  .section { /*seccion de smartwave-inicio*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.section img {
    width: 200px;
    height: auto;
    object-fit: cover;
}
.content { /*es la parte derechaa de en el texto*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.header {
    background-color: #2b85b3;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
}
.header text{
color:#FFFFFF
}
.body {
    background-color: #002c5c;
    padding: 15px;
    font-size: 1.2em;
    line-height: 1.6;
}

  .Chximg {
    display: flex;
    width: 600px;
    height: 430px;
    margin: 0 auto;
  }
  .Chximg img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
  }
  .Chximg img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
  }
  .search-bar-container { /*barra de busqueda*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #2b85b3;
    border-radius: 25px;
    width: 600px;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    color: #002c5c;
    border-radius: 25px;
  }
  
  .search-input::placeholder {
    color: #7a7a7a;
  }
  
  .search-button {
    border: none;
    background-color: #2b85b3;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #003366;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    fill: white;
  }
  .cart-count { /*contador en el carrito*/
    position: absolute;
    top: -5px;
    right: 20px;
    background-color: red;
    color: white;
    font-size: 0.8em;
    padding: 2px 6px;
    border-radius: 50%;
  }
  .banner-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.chxbs {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.chxbs {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #ffffff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.chxbs-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.chxbs:hover .chxbs-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}